  .menu {
    background-color: #5995DA;
  }
  
  .header {
    background-color: #B2D6FF;
    background-image: "images/closeup-photo-of-black-and-blue-keyboard-1194713.jpg";
  }
  
  .content {
    background-color: #EAEDF0;
  }
  
  .sign-up {
    background-color: #D6E9FE;
  }
  
  .feature-1 {
    background-color: #F5CF8E;
  }
  
  .feature-2 {
    background-color: #F09A9D;
  }
  
  .feature-3 {
    background-color: #C8C6FA;
  }

  .feature-4 {
    background-color: rgb(118, 255, 141);
  }

  .footer {
    height: 50px;
  }
  
  