#talot {
    width: 600px;
    height: 800px;
    float: left;
    overflow: auto;
    margin 10px
}

.taloContainer {
    display: block;
    border: 1px solid grey;
    width: 570px;
    height: 165px;
    font-family: arial;
    font-size: 12px;
    margin: 2px;
    padding: 2px;
}

.taloImage {
    width: 225px;
    height: 160px;
    float: left;
    margin 2px
}

p.otsikko {
    font-size: 14px;
    font-weight: bold;
}

p.kuvaus {
    font-style: italic;
    font-size: 10px;
}