@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$font: 'Raleway', sans-serif;
$hover: #313131;
$soft-white: #dadada;
$star: #d6b600;

%link {
	color: #000;
	text-decoration: none;
	border-bottom: 1px #000 dashed;
	&:visited {
		color: #000;
	}
}
