%grid {
	display: grid;
	grid-gap: 50px;
}

%card {
	padding: 20px;
	border-radius: 15px;
	color: #000;
}

.skills-grid {
	@extend %grid;
	grid-template-columns: repeat(3, 1fr);
	.card-header {
		border-radius: 10px;
	}
	.stars {
		color: $star;
	}
	img {
		float: right;
		width: 70px;
		max-height: 70px;
		margin: 5px;
	}
}

.card {
	@extend %card;
	&-header {
		display: flex;
		justify-content: space-between;
		padding-right: 25px;
		// background-color: #fff;
	}
}

.project-grid {
	@extend %grid;
	grid-template-columns: repeat(2, 1fr);
	.card {
		border: 1px dotted #000;
	}
}
