@media only screen and (max-width: 1770px) {
	.navbar-text {
		display: none;
	}
	.skills-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 1400px) {
	#about img {
		width: 400px;
	}

	.content {
		width: 80%;
	}
}

@media only screen and (max-width: 1250px) {
	.project-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media only screen and (max-width: 1000px) {
	.skills-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media only screen and (max-width: 960px) {
	.showcase {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url('../images/pexels-negative-space-169573_medium.jpg');
	}
	#about img {
		width: 350px;
	}
}

@media only screen and (max-width: 850px) {
	#about img {
		width: 280px;
	}
}

@media only screen and (max-width: 700px) {
	.navbar-brand {
		margin-left: 20px;
	}

	#about img {
		float: none;
		display: block;
		margin: auto;
	}
}

@media only screen and (max-width: 690px) {
	.showcase {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url('../images/pexels-negative-space-169573_small.jpg');
	}
	.showcase h1 {
		font-size: 4rem;
	}
}

@media only screen and (max-width: 550px) {
	.showcase-text {
		top: 35%;
	}
}

@media only screen and (max-width: 500px) {
	.content {
		width: 90%;
	}
	.card-header {
		display: block;
	}
}

@media only screen and (max-width: 400px) {
	#about img {
		width: 250px;
	}
}
