@media only screen and (max-width: 1770px) {
	.navbar-text {
		display: none;
	}
	.skills-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 1500px) {
	.project-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media only screen and (max-width: 1400px) {
	#about img {
		width: 400px;
	}

	.content {
		width: 80%;
	}
}

@media only screen and (max-width: 1000px) {
	.skills-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media only screen and (max-width: 960px) {
	#about img {
		width: 350px;
	}
}

@media only screen and (max-width: 850px) {
	#about img {
		width: 280px;
	}
}

@media only screen and (max-width: 690px) {
	.showcase-text {
		top: 35%;
	}

	.showcase h1 {
		font-size: 4rem;
	}
}

@media only screen and (max-width: 700px) {
	.navbar-brand {
		margin-left: 20px;
	}

	#about img {
		float: none;
		display: block;
		margin: auto;
	}

	.card {
		justify-content: left;
	}
}
