@import 'config';

.navbar {
	font-family: $font;
	&-brand {
		margin-left: 50px;
	}
	&-text {
		margin: 0 100px 0 200px;
	}
	.nav-link {
		margin: 0 50px;
		padding-left: 15px;
		&:hover {
			background-color: $hover !important;
			border-radius: 5px;
		}
	}
	.dropdown-item {
		i {
			margin-right: 10px;
		}
	}
}

.showcase {
	height: 100vh;
	width: 100%;
	/* darken effect on image to make text over image show better */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../images/pexels-negative-space-169573.jpg');
	background-position: center;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	background-size: cover;
	&-text {
		position: absolute;
		top: 40%;
	}
	h1 {
		color: $soft-white;
		font-size: 5rem;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0;
		padding: 0;
	}
	h3,
	i {
		color: $soft-white;
	}
}

.content {
	width: 75%;
	padding: 70px 30px;
}

#about,
#skills,
#portfolio {
	//every a element that is not class .btn
	a:not(.btn) {
		@extend %link;
	}
}

#about {
	img {
		float: right;
		width: 450px;
		height: auto;
		margin: 0 20px 35px 35px;
	}
	.indent {
		text-indent: 1em;
	}
	.btn-dark {
		padding: 15px;
		&:active {
			transform: scale(0.95);
		}
	}
}

#skills {
	color: $soft-white;
	.description {
		text-align: center;
	}
}

@import 'gridcard';

.social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	a {
		color: #000;
		text-decoration: none;
		padding: 20px;
	}
}

#toTop {
	display: none; /* Hidden by default */
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #000 !important;
	cursor: pointer;
	padding: 5px 16px;
	border-radius: 10px;
	font-size: 20px;
	&:hover {
		background-color: #555 !important;
	}
	&:active {
		transform: scale(0.95);
	}
}

.footer {
	font: $font;
}

@import 'media';
